h6= item.full_name
h6= item.description
h6= "URL:  " + item.url
h6= "Size:  " + item.size + ",  Watchers:  " + item.watchers_count + ",  Stargazers:  " + item.stargazers_count
h6= "Owner:  " + item.owner.login + " - " + item.owner.type
h6= "Time of Creation:  " + item.created_at
h6= "Private:  " + item.private + ",  Has issues:  " + item.issues
h6= "Fork:  " + item.fork + ",  Fork count:  " + item.forks_count
h6= "Has issues:  " + item.issues
h6= "Has pages:  " + item.has_pages + ",  Has downloads:  " + item.has_downloads

